<mat-card class="card card-2" >
<div id="buyCardContainer">
  <mat-card-header>
    <mat-card-title>Buy card:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-select id="cardTypeSelect" placeholder="Select card type..."  [(value)]="currentCardType" (selectionChange)="this.checkPrice()">
      <mat-option *ngFor="let cardType of cardTypes" value="{{cardType}}">
        {{cardType}}
      </mat-option>
    </mat-select>
    <br/>
    <mat-select id="zoneSelect" placeholder="Select a zone..."  [(value)]="currentZone" (selectionChange)="this.checkPrice()">
      <mat-option *ngFor="let zone of zones" value="{{zone}}">
        {{zone}}
      </mat-option>
    </mat-select>
    <br/>
    <mat-select id="vehicleSelect" placeholder="Select vehicle type..."  [(value)]="currentVehicleType" (selectionChange)="this.checkPrice()">
      <mat-option *ngFor="let vehicle of vehicles" value="{{vehicle}}">
        {{vehicle}}
      </mat-option>
    </mat-select>
    <br/>
    <h3>Card price: &nbsp;{{currentPrice}}</h3>
    <button id="buyCardButton"  [disabled]="this.notFormFilled()" mat-raised-button color="primary" (click)="this.buyCard()">Buy card</button>
  </mat-card-content>
</div>
</mat-card>
