<mat-card>
  <mat-card-content>
    <div id="titleContainer">
      <h2 id="myCardsTitle">My cards</h2>
    </div>
    <button style="float:right" id="quickBuyButton" mat-raised-button color="primary" (click)="openQuickBuy()">Quick buy</button>
    <table mat-table [(dataSource)]= "this.visitorCards">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="cardType">
        <th mat-header-cell *matHeaderCellDef> Card type </th>
        <td mat-cell *matCellDef="let row"> {{row.cardType}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let row"> {{row.price+' din'}} </td>
      </ng-container>

      <ng-container matColumnDef="zone">
        <th mat-header-cell *matHeaderCellDef> Zone </th>
        <td mat-cell *matCellDef="let row"> {{row.zone}} </td>
      </ng-container>

      <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef> Vehicle type </th>
        <td mat-cell *matCellDef="let row"> {{row.vehicleType}} </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start date </th>
        <td mat-cell *matCellDef="let row"> {{row.startDate | date: "dd.MM.yyyy."}} </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End date </th>
        <td mat-cell *matCellDef="let row"> {{row.endDate | date: "dd.MM.yyyy."}} </td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let row"> {{row.active ? 'Yes' : 'No'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [length]="totalElements"
                    (page)="pageChanged($event)">

    </mat-paginator>

  </mat-card-content>
</mat-card>
