@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$my-dark-primary: mat-palette($mat-teal, 400 , 200 , 600);
$my-dark-accent:  mat-palette($mat-pink, 400, 400, 100);
$my-dark-warn:    mat-palette($mat-red);
$my-dark-theme:   mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);

@include angular-material-theme($my-dark-theme);
