.parentDiv{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
}

// podesava se u map komponenti
// agm-map {
// ...
// }

agm-map {
    border: 1px solid white;
    height: 80vh;
    width: 65vw;
    display: block;
    margin: 0 auto;
}

.rightDiv{
    margin: 0 auto;
    margin-left: 1vw;
    width: 20vw;
}

.leftDiv{
    margin: 0 auto;
    margin-right: 1vw;
    width: 65vw;
}