<!-- bus selection goes here -->
<div class="parentDiv">
  <div class="leftDiv">
    <!-- map/route overview -->
    <app-map></app-map>
  </div>

  <div class="rightDiv">
    <mat-card class="card card-1">
      <h3 class="homeSelect">Select line:</h3>
      <app-line-select [autoLoad]="true"></app-line-select>
    </mat-card>
    <br><br>
  </div>
</div>