<div class="parentDiv">
    <div class="leftDiv">
        <app-map (mapClickEvent)="mapClick($event)"></app-map>
        <p #infoText>Tip: Click on map to set station location</p>
    </div>

    <div class="rightDiv">
        <mat-card class="card card-1">
            <mat-card-header>
                <mat-card-title>Station Info:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
                <!-- FORM -->
                <div class="form-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter station name" [formControl]="name" required>
                        <mat-error *ngIf="name.invalid">You must enter station name to submit</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button class="submit" 
                mat-raised-button color="primary" 
                [disabled]="name.invalid" 
                (click)="submit()">Submit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>