<mat-toolbar color="accent">
    <mat-toolbar-row>
      <!-- Toggle sidenav -->
      <button *ngIf="showNavbarToogle()" mat-icon-button (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-button routerLink="/"><h6>Home</h6></button>
      <button *ngIf="!loggedStatusService.adminLogged" mat-button routerLink="/timetable"><h6>Timetable</h6></button>
      <button id="timetableBtn" *ngIf="loggedStatusService.adminLogged" mat-button routerLink="/timetable/menu"><h6>Timetable</h6></button>
      <button mat-button routerLink="/priceList/show"><h6>Price list</h6></button>
      <button id="checkBtn" *ngIf="loggedStatusService.controllerLogged" mat-button routerLink="/check"><h6>Check</h6></button>

      <button *ngIf="loggedStatusService.adminLogged" mat-button id="btnCards" routerLink="/cards"><h6>Cards</h6></button>
      <button *ngIf="loggedStatusService.visitorLogged" mat-button routerLink="/myCards"><h6>My Cards</h6></button>
      <button *ngIf="loggedStatusService.inspectorLogged" mat-button id="btnPending" routerLink="/pending"><h6>Pending Documents</h6></button>
      <button *ngIf="loggedStatusService.visitorLogged" mat-button id="docUploadButton" routerLink="/uploadDocument"><h6>Discount</h6></button>

      <span class="spacer"></span>
      <span *ngIf="!loggedStatusService.loggedIn">
        <button mat-button routerLink="/login"><h6>Log In</h6></button>
        <button mat-button routerLink="/signup"><h6>Sign Up</h6></button>
      </span>
      <span *ngIf="loggedStatusService.loggedIn">
        <button mat-button (click)="logout()"><h6>Log Out</h6></button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
