
<agm-map class="card card-1" [latitude]="44.8085" [longitude]="20.4288" [zoom]="13" (mapClick)="mapClick($event)">
  <agm-polyline (polylineDraggable)="true" (editable)="true" [strokeColor]="'#ea4335'" [strokeWeight]="3">

    <!-- line Path (immutable) -->
    <agm-polyline-point 
      *ngFor="let point of path.coords" 
      [latitude]="point.n" 
      [longitude]="point.e">
    </agm-polyline-point>
    
    </agm-polyline>
    <!-- for editing Path -->
    <agm-marker 
      *ngFor="let point of pathEditMarkers; index as i"
      (dragEnd)="markerDragEnd(point, i, $event)"
      [latitude]="point.n"
      [longitude]="point.e"
      [markerDraggable]="true"
      [iconUrl]="'https://img.icons8.com/material-rounded/10/000000/circled-dot.png'">
    </agm-marker>
    <!-- <agm-polyline-point 
      *ngFor="let point of mapData.pathEditMarkers" 
      [latitude]="point.n"
      [longitude]="point.e"
      (polylineDraggable)="true"
      (editable)="true">
    </agm-polyline-point>  -->
    <!--  -->

    <!-- Stations -->
    <agm-marker 
      *ngFor="let s of stations;index as i"
      [latitude]="s.coord.n"
      [longitude]="s.coord.e"
      [label]="s.name"
      [markerClickable]="mapData.stationClickable"
      (markerClick)="stationClicked(s)">
    <agm-info-window #infoWindow>
      <strong>{{s.pathsStr}}</strong>
    </agm-info-window>
    </agm-marker>

    <!-- Vehicles -->
    <agm-marker 
      *ngFor="let v of vehicles"
      [latitude]="v.coord.n"
      [longitude]="v.coord.e"
      [iconUrl]="'../../../assets/images/transport-15.png'">
    </agm-marker>

  
</agm-map>