<mat-form-field class="homeSelect">
  <mat-select placeholder="Lines" [formControl]="selectControl">
    <mat-optgroup *ngFor="let groupName of getKeys(allLinesMap)" [label]="groupName">
      <mat-option *ngFor="let lineNumber of allLinesMap.get(groupName)" [value]="lineNumber">
        {{lineNumber}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>