<mat-form-field *ngIf="loggedStatusService.adminLogged" id="priceListOptionContainer">
  <mat-select  id="priceListSelect" [(ngModel)]="selectedPriceListId">
    <mat-option *ngFor="let priceList of priceLists" [(value)]="priceList.id">
        {{'PriceList: '+priceList.startDate+' - '+priceList.endDate}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div id="addPriceListButtonContainer" *ngIf="loggedStatusService.adminLogged">
  <button  id="addPriceListButton" mat-raised-button color="primary" routerLink="/priceList/add" >Add pricelist</button>
</div>
<mat-tab-group mat-align-tabs="center">
  <div *ngFor="let vehicleType of vehicleTypes">
    <mat-tab label={{vehicleType}}>
      <ng-template matTabContent>
        <app-pricelist-tab-view vehicleType={{vehicleType}} [selectedPriceListId]="selectedPriceListId" [priceListEditable]= "this.currentPriceListEditable()" ></app-pricelist-tab-view>
      </ng-template>
    </mat-tab>
  </div>

</mat-tab-group>
