<div class="parentDiv">
  <div class="leftDiv">
    <app-map (markerClickEvent)="stationClick($event)" (mapClickEvent)="mapClickTest($event)"></app-map>
    <p #infoText>Current station locations</p>
  </div>

  <div class="rightDiv">
    <mat-card class="card card-1">
      <mat-card-header>
        <mat-card-title>Station Info:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <!-- FORM -->
        <form [formGroup]="form">
        <div *ngIf="displayForm" class="form-container" formArrayName="controlList">
          <mat-form-field>
            <input matInput #name placeholder="Station name" [value]="currentStation.name">
          </mat-form-field>
          <!-- Checkboxes -->
          <section class="example-section">
            <mat-checkbox 
                *ngFor="let control of form.get('controlList').controls; index as i"
                class="example-margin"
                [formControlName]="i">
                {{control.data.pathName}}
            </mat-checkbox>
          </section>
          <button class="submit" mat-raised-button color="primary" (click)="save(name.value)">Save</button>
          <button class="delete" mat-raised-button color="accent" (click)="delete()">Delete</button>
        </div>
      </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>