
.submit{
    position: absolute;
    width: 9vh;
    bottom: 2vh;
    right: 2vh;
}

.delete{
    position: absolute;
    bottom: 2vh;
    right: 13vh;
}

.example-section {
    overflow-x: hidden;
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 40vh;
    margin: 0px;
    margin-left: 1vw;
  }
  
  .example-margin {
    margin-top: 0.5vh;
  }
