.updateCard {
    max-width: 47%;
    min-width: 47%;
    margin-left: 25%;
}

.center {
    text-align: center;
}

.center-div {
    width: 32%;
    margin: 0 auto;
}

div.mat-form-field-infix {
    width:300px;
}