<br>
<mat-card class="updateCard">
  <mat-card-title class="center"> Update timetable </mat-card-title>
  <br>
  <mat-card-content class="white-border">
    <form [formGroup]="timetableForm">
      <div class="center-div">
        <mat-form-field>
          <mat-select id="Schedule" (selectionChange)="onChange($event)" matInput name="schedule" placeholder="Choose schedule" required>
            <mat-option style="font-size:12px !important;" *ngFor="let schedule of scheduleList" [value]="schedule">{{ schedule.pathName + " / " + schedule.vehicleType + " -> " + schedule.startDate + " - " + schedule.endDate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
      </div>
      <div *ngIf="showTimes" class="center-div">
        <mat-form-field>
          <mat-select id="timesTo" formControlName="timesTo" name="option.value" placeholder="Choose to times" multiple required>
            <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!timetableForm.get('timesTo').valid && timetableForm.get('timesTo').touched">Choose minimum one time!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select id="timesFrom" formControlName="timesFrom" name="option.value" placeholder="Choose from times" multiple required>
            <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!timetableForm.get('timesFrom').valid && timetableForm.get('timesFrom').touched">Choose minimum one time!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <button id="updateButton" style="margin-left: 57% !important;" mat-raised-button color="accent" (click)="onFormSubmit()">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>