.shadow {
    -moz-box-shadow:    inset 0 0 10px white !important;
    -webkit-box-shadow: inset 0 0 10px white !important;
    box-shadow:         inset 0 0 10px white !important;

    width: 35%;
    margin: 0 auto;
  }

 .center {
      text-align: center;
  }

  .white-border {
    border-color:white;
  }

  .center-div {
    width: 35%;
    margin: 0 auto;
  }

  .timetableCard {
    width: 35%;
    margin: 0 auto;
  }

  .article-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .article {
    flex: 0 0 50%;
    padding: 10px;
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
  }