<br>
<mat-card class="shadow">
  <mat-card-title class="center"> Timetable </mat-card-title>
  <br>
  <mat-card-content class="white-border">
      <form [formGroup]="timetableForm">
        <div class="center-div">
          <mat-form-field>
              <mat-select id="day" matInput formControlName="Day" name="day" placeholder="Day" required>
                <mat-option *ngFor="let day of days" [value]="day">{{day | titlecase }}</mat-option>
              </mat-select>
              <mat-error>
                <span *ngIf="!timetableForm.get('Day').valid && timetableForm.get('Day').touched">You must choose a day!</span>
              </mat-error> 
          </mat-form-field>
          <br>
          <mat-form-field>
              <mat-select id="lines" formControlName="Line" name="option.value" placeholder="Lines" required>
                <mat-option *ngFor="let line of lines" [value]="line.pathName">{{line.pathName}}</mat-option>
              </mat-select>
              <mat-error>
                <span *ngIf="!timetableForm.get('Line').valid && timetableForm.get('Line').touched">You must choose a line!</span>
              </mat-error> 
          </mat-form-field>
         <br>
          <mat-form-field>
              <mat-select id="vehicleTypes" formControlName="vehicleType" name="option.value" placeholder="Vehicle Type" required>
                <mat-option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType">{{vehicleType | titlecase }}</mat-option>
                <mat-option value="All">All</mat-option>
              </mat-select>
              <mat-error>
                <span *ngIf="!timetableForm.get('vehicleType').valid && timetableForm.get('vehicleType').touched">You must choose a vehicle type!</span>
              </mat-error> 
          </mat-form-field>
          <button id="viewButton" [disabled]="disableButton" style="margin-left: 46%;" mat-raised-button color="accent" (click)="onFormSubmit()">Submit</button>
        </div>
      </form>
      <br>
      <div *ngIf="showDate" class="center-div">
        <mat-form-field>
          <mat-select (selectionChange)="onChange($event)" id="dates" name="option.value" placeholder="Choose period" required>
            <mat-option *ngFor="let date of dates;let i = index" value="{{i}}">{{date.date}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>       
  </mat-card-content>
</mat-card>
<br>
<br>
<div *ngIf="showTable">
  <mat-card class="timetableCard">
    <mat-card-title class="center"> {{pathName}} </mat-card-title>
    <br>
    <div class="article-container" style="margin-left: 24px;">
      <div class="article center">
        <br>
        <table mat-table [dataSource]="ELEMENT_DATA_toTimes" class="mat-elevation-z8">

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> {{stationsTo}} </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="article center">
        <br>
        <table mat-table [dataSource]="ELEMENT_DATA_fromTimes" class="mat-elevation-z8">

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> {{stationsFrom}} </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-card>
</div>
