<br>
<mat-card class="card card-1">
  <div class="mainDiv">
    <div class="sidenav-content">
      <button id="addTimetableBtn" class="btn" type="button" mat-button (click)="addTimetable();">
        Add timetable
      </button>
      <br>
      <button id="viewTimetableBtn" class="btn" type="button" mat-button (click)="viewTimetable();">
        View timetable
      </button>
      <br>
      <button id="updateTimetableBtn" class="btn" type="button" mat-button (click)="updateTimetable();">
        Update timetable
      </button>
      <br>
      <button id="deleteTimetableBtn" class="btn" type="button" mat-button (click)="deleteTimetable();">
        Delete timetable
      </button>
      <br>
    </div>
  </div>
</mat-card>


<div class="data">
  <router-outlet></router-outlet>
</div>
