.sidenav-content {
    height: 100%;
    width: 15%;
    float: left;
    position: static;
  }
  
  .mat-button {
      width: 100%;
      text-align: left !important;
  }

  .btn {
      padding: 15px;
      border-spacing: 5px;
      max-width: 130px !important;
      min-width: 130px !important;
      align-content: left;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
  }

.btn:hover {
    background-color: #ec407a; 
    
}

.mainDiv {
    width: 100%;
    height: 100%;
    display: table;
}

.mat-card {
    max-width: 130px !important;
    min-width: 130px !important;
    max-height: 270px !important;
    
}

.data {
    margin-top: -330px;
    margin-left: 180px;
    width: 80%;
    height: 50%;
    float: left;
    align-items: center;
}
