
<div class="centerDiv">
  <mat-card class="card card-2" >
    <mat-card-header>
      <mat-card-title>Add a  pricelist:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <!-- FORM -->
      <form [formGroup]="form" (ngSubmit)="this.addPriceList()">
        <div class="form-container">
          <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" placeholder="Start date" formControlName="startDate" required>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="!form.valid">You must enter start date to submit</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" placeholder="End date" formControlName="endDate" required>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error *ngIf="!form.valid">You must enter end date to submit</mat-error>
          </mat-form-field>

          <div id="optionsContainer">
            <div id="basePricesContainer">
              <mat-card-header>
                <mat-card-title>Base prices:</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div *ngFor="let cardType of cardTypes">
                  <mat-form-field>
                    <input matInput placeholder={{cardType}} type="number" step="1" pattern="\d+" min="1" formControlName="basePrice{{cardType}}" required/>
                    <mat-error *ngIf="!form.valid">Please fill out this field correctly</mat-error>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </div>

            <div id="visitorTypesModifiersContainer">
              <mat-card-header>
                <mat-card-title>Visitor modifiers:</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div *ngFor="let visitorType of visitorTypes">

                  <mat-form-field>
                    <input matInput placeholder={{visitorType}} type="number" step="1" pattern="\d+" min="1" formControlName="visitorType{{visitorType}}" required/>
                    <mat-error *ngIf="!form.valid">Please fill out this field correctly</mat-error>
                  </mat-form-field>
                </div>
              </mat-card-content>

            </div>

            <div id="zoneModifiersContainer">
              <mat-card-header>
                <mat-card-title>Zone modifiers:</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div *ngFor="let zone of zones">

                  <mat-form-field>
                    <input matInput placeholder={{zone}} type="number" step="1" pattern="\d+" min="1" formControlName="zone{{zone}}" required/>
                    <mat-error *ngIf="!form.valid">Please fill out this field correctly</mat-error>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </div>


            <div id="vehicleTypesModifiersContainer">
              <mat-card-header>
                <mat-card-title>Vehicle modifiers:</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div *ngFor="let vehicle of vehicles">

                  <mat-form-field>
                    <input matInput placeholder={{vehicle}} type="number" step="1" pattern="\d+" min="1" formControlName="vehicle{{vehicle}}" required/>
                    <mat-error *ngIf="!form.valid">Please fill out this field correctly</mat-error>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </div>

          </div>

          <br>
          <button [disabled]="!this.form.valid" id="addPriceListButton" class="submit" type="submit" mat-raised-button color="primary">Add</button>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>
