<div class="parentDiv">
  <div class="leftDiv">
    <app-map (mapClickEvent)="mapClick($event)" (markerClickEvent)="stationClick($event)"></app-map>
    <p #infoText>Tip: Click on map set route for line</p>
  </div>

  <div class="rightDiv">
    <mat-card class="card card-1">
      <mat-card-header>
        <mat-card-title>Line Info:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <!-- FORM -->
        <form [formGroup]="form" (ngSubmit)="add()">
          <div class="form-container">
            <mat-form-field>
              <input matInput placeholder="Enter line name" formControlName="lineName" required>
              <mat-error *ngIf="form.valid">You must enter path name to submit</mat-error>
            </mat-form-field>
            <br>
            <!-- Vehicle type -->
            <mat-form-field>
              <mat-select placeholder="Vehicle type" formControlName="vehicleType">
                <mat-option value="" (selected)="true">--</mat-option>
                <mat-option *ngFor="let type of vehicleTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <!-- Vehicle type -->
            <mat-form-field>
              <mat-select placeholder="Select zone" formControlName="zone">
                <mat-option *ngFor="let zone of zones" [value]="zone">
                  {{zone}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <!-- Vehicle number -->
            <p>Number of vehicles on line:</p>
            <mat-slider thumbLabel min="0" max="20" formControlName="vehicleNumber"></mat-slider>
            <!-- controls -->
            <button class="submit" type="submit" mat-raised-button color="primary">Add</button>
            <button class="delete" mat-raised-button color="accent" (click)="reset()">Reset</button>
          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>