<br>
<mat-card class="addCard">
  <mat-card-title class="center"> New timetable </mat-card-title>
  <br>
  <mat-card-content class="white-border">
    <form [formGroup]="timetableForm">
      <div class="center-div">
        <mat-form-field>
          <mat-select id="day" matInput formControlName="Day" name="day" placeholder="Day" required>
            <mat-option *ngFor="let day of days" [value]="day">{{day | titlecase }}</mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!timetableForm.get('Day').valid && timetableForm.get('Day').touched">You must choose a day!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select id="lines" (selectionChange)="onChange($event)" formControlName="Line" name="option.value" placeholder="Lines"
            required>
            <mat-option *ngFor="let line of lines" [value]="line">{{line.pathName + " ( " + line.stations + ")"}} </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!timetableForm.get('Line').valid && timetableForm.get('Line').touched">You must choose a line!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input id="dateFrom" matInput formControlName="fromDate" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="From date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-error>
            <span *ngIf="!timetableForm.get('fromDate').valid && timetableForm.get('fromDate').touched">You must choose a date!</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input id="dateTo" matInput formControlName="toDate" [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="To date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker1></mat-datepicker>
          <mat-error>
            <span *ngIf="!timetableForm.get('toDate').valid && timetableForm.get('toDate').touched">You must choose a date!</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select id="timesTo" formControlName="timesTo" name="option.value" placeholder="Choose to times" multiple required>
            <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!timetableForm.get('timesTo').valid && timetableForm.get('timesTo').touched">Choose minimum one time!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select id="timesFrom" formControlName="timesFrom" name="option.value" placeholder="Choose from times" multiple required>
            <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!timetableForm.get('timesFrom').valid && timetableForm.get('timesFrom').touched">Choose minimum one time!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <button id="addBtn" style="margin-left: 59% !important;" [disabled]="disableButton" mat-raised-button color="accent" (click)="onFormSubmit()">Submit</button>
      </div>
    </form>
    <br>
  </mat-card-content>
</mat-card>