.addCard {
    max-width: 47%;
    min-width: 47%;
    margin-left: 25%;
}

.center {
    text-align: center;
}

.center-div {
    width: 32%;
    margin: 0 auto;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #ec407a !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #ec407a !important;
}

.example-full-width {
    width: 180px !important;
}