.example-card {
    max-width: 400px;
    width: 400px;
    margin: 0px auto;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}