<div *ngFor="let document of documents" id="pendingDocs" [hidden]="!documents.length">
  <br>
  <mat-card class="example-card" id="card{{document.id}}" style="text-align: center">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{ document.firstName }} {{ document.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ document.username }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="url[document.id]">
    <mat-card-content>
      <p>
        User type: {{ document.visitorType | titlecase}}
      </p>
      <p>
        Document: {{ document.documentName | titlecase}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button id="approveBtn{{document.id}}" (click)="onApprove(document.id)">Approve</button>
      <button mat-button id="rejectBtn{{document.id}}" (click)="onReject(document.id)">Reject</button>
    </mat-card-actions>
  </mat-card>
</div>

<div style="text-align: center" [hidden]="documents.length">
  <h3 id="noPendingElText">There is no pending documents</h3>
</div>