<div class="medium-list centered">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Log In</div>

    <form (ngSubmit)="onLoginSubmit()">
      <div class="form-container"  text-align="center">  
        <mat-form-field>
            <input id="username"
                   matInput
                   name="username"
                   [(ngModel)]="user.username"
                   placeholder="Username" />
          </mat-form-field>

        <mat-form-field>
            <input id="password"
                   matInput
                   name="password"
                   [(ngModel)]="user.password"
                   placeholder="Password"
                   [type]="hide ? 'password':'text'" />
              <mat-icon matSuffix (click)="hide = !hide" class="show_hide_pass">
                    {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
          </mat-form-field>
          <div style="text-align: center" [hidden]="!badCredentials">Wrong username or password</div>
          <br>
          <button mat-button type="submit" 
                  class="mat-raised-button mat-primary" id="btnLogin">Log In</button>
          <button mat-button routerLink="/signup" class="divider">Register</button>
      </div>
    </form>
  </div>
</div>