<div class="parentDiv">
  <div class="leftDiv">
    <app-map (markerClickEvent)="stationClick($event)"></app-map>
    <p #infoText>Tip: Drag markers to edit route</p>
  </div>

  <div class="rightDiv">
    <mat-card class="card card-1">
      <mat-card-header>
        <mat-card-title>Select line to edit:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <!-- Select line -->
        <app-line-select [autoLoad]="false" (lineSelectedEvent)="onLineSelect($event)"></app-line-select>
        <br>
        <!-- FORM -->
        <form [formGroup]="form" >
          <div *ngIf="showForm" class="form-container">
            <!-- Vehicle type -->
            <mat-form-field>
              <mat-select placeholder="Vehicle type" formControlName="vehicleType">
                <mat-option value="" (selected)="true">--</mat-option>
                <mat-option *ngFor="let type of vehicleTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <!-- Vehicle type -->
            <mat-form-field>
              <mat-select placeholder="Select zone" formControlName="zone" [disabled]="true">
                <mat-option *ngFor="let zone of zones" [value]="zone">
                  {{zone}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <!-- Vehicle number -->
            <p>Number of vehicles on line:</p>
            <mat-slider thumbLabel min="0" max="20" formControlName="vehicleNumber"></mat-slider>
            <!-- controls -->
            <button class="submit" type="submit" mat-raised-button (click)="submit()" color="primary">Save</button>
            <button class="delete" mat-raised-button color="accent" (click)="delete()">Delete</button>
            <!-- <button class="reset" mat-raised-button (click)="reset()">Reset</button> -->
          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>