.submit{
    position: absolute;
    width: 9vh;
    bottom: 2vh;
    right: 2vh;
}

.delete{
    position: absolute;
    bottom: 2vh;
    right: 12vh;
}

.reset{
    position: absolute;
    width: 8vh;
    bottom: 2vh;
    right: 23.5vh;
}
