<br>
<mat-form-field style="margin-left: 70px;font-size:15px;">
  <mat-select id="lines" (selectionChange)="onChange($event)" name="option.value" placeholder="Choose line for check" required>
    <mat-option *ngFor="let line of lines" [value]="line"> {{line.pathName }} </mat-option>
  </mat-select>
</mat-form-field>
<br>

<div id="tableCheck" *ngIf="showTable">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="cardType">
      <th mat-header-cell *matHeaderCellDef> Card type </th>
      <td mat-cell *matCellDef="let element"> {{element.cardType}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> End date </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="activeCard">
      <th mat-header-cell *matHeaderCellDef> Active card </th>
      <td mat-cell *matCellDef="let element"> {{element.activeCard}} </td>
    </ng-container>

    <ng-container matColumnDef="paid">
      <th mat-header-cell *matHeaderCellDef> Paid </th>
      <td mat-cell *matCellDef="let element"> {{element.paid}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>