<br>
<mat-card class="deleteCard">
  <mat-card-title class="center"> Delete timetable </mat-card-title>
  <br>
  <mat-card-content class="white-border">
    <div class="center-div">
      <mat-form-field>
        <mat-select id="Schedule" (selectionChange)="onChange($event)" matInput name="schedule" placeholder="Choose schedule" required>
          <mat-option style="font-size:12px !important;" *ngFor="let schedule of scheduleList" [value]="schedule">{{ schedule.pathName + " / " + schedule.vehicleType + " -> " + schedule.startDate + " - " + schedule.endDate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
    </div>
    <button id="deleteButton" style="margin-left: 52.5% !important;" mat-raised-button color="accent" (click)="onFormSubmit()">Submit</button>
  </mat-card-content>
</mat-card>