<div id="matCardContainer">
  <div *ngFor="let cardType of cardTypes">
    <mat-card>
      <mat-card-header>
        {{cardType}}
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]= "priceListData[cardType]">
          <ng-container matColumnDef="visitorType">
            <th mat-header-cell *matHeaderCellDef> Visitor type </th>
            <td mat-cell *matCellDef="let row"> {{row.visitorType}} </td>
          </ng-container>
          <ng-container matColumnDef="zone">
            <th mat-header-cell *matHeaderCellDef> Zone </th>
            <td mat-cell *matCellDef="let row"> {{row.zone}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let row">
              <div class="editPriceInputContainer" *ngIf="this.loggedStatusService.adminLogged && this.priceListEditable ">
                <mat-form-field>
                  <input class="editPriceInput" matInput type="number" step="1" pattern="\d+" min="1" [(ngModel)]="row.price" required/>
                </mat-form-field>
              </div>
              <div *ngIf="!(this.loggedStatusService.adminLogged && this.priceListEditable) ">
                {{row.price}}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let row">
              <button class="editPriceButton" mat-icon-button (click)="this.editPriceListItemPrice(row.zone,row.visitorType,row.price,cardType)" aria_label="Edit price...">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
