#matCardContainer{
  margin-top:25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}



.mat-cell {
  padding: 8px 8px 8px 0;
}

input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

mat-form-field {
  width: 100%;
}

.editPriceInputContainer {
  width:60px;
}



