<br>
<mat-card class="uploadDocument">
  <mat-card-title class="center"> Update document </mat-card-title>
  <br>
  <mat-card-content>
      <div class="center-div">
        <mat-form-field>
          <mat-select id="visitorType" matInput (selectionChange)="onChange($event)" name="visitorType" placeholder="Discount for" required>
            <mat-option style="font-size:12px !important;" *ngFor="let vt of visitorTypes" [value]="vt">{{ vt | titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <input id="document" (change)="onFileChanged($event)" type="file" placeholder="Choose file" required/>
        <br>
        <br>
        <button id="uploadDocumentButton" style="margin-left: 60% !important;" mat-raised-button color="accent" (click)="onFormSubmit()">Submit</button>
      </div>
  </mat-card-content>
</mat-card>