.uploadDocument {
    max-width: 35%;
    min-width: 35%;
    margin-left: 30%;
}

.center {
    text-align: center;
}

.center-div {
    width: 32%;
    margin: 0 auto;
}

div.mat-form-field-infix {
    width:300px;
}