
<div class="mat-elevation-z8">
    <button mat-icon-button id="showFilterBtn">
      <i class="material-icons" (click)="showFilter = !showFilter">
          add_box
      </i>
      Filter
    </button>
  <div *ngIf="showFilter" id="filterOptions">
    <mat-form-field class="filter-input">
        <input matInput [(ngModel)]="filterUsername" placeholder="username"  id="inputUsername">
    </mat-form-field>

    <mat-form-field class="filter-input">
      <mat-select placeholder="visitor type" [(value)]="filterVisitorType"> 
          <mat-option *ngFor="let vt of visitorTypes" [value]="vt">
            {{ vt }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-input">
        <mat-select placeholder="zone" [(value)]="filterZone" id="selectZone"> 
            <mat-option *ngFor="let zone of zones" [value]="zone">
              {{ zone }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-input">
        <mat-select placeholder="vehicle type" [(value)]="filterVehicleType" id="selectVehicleType"> 
            <mat-option *ngFor="let vt of vehicleTypes" [value]="vt">
              {{ vt }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-input">
      <mat-select placeholder="card type" [(value)]="filterCardType" id="selectCardType"> 
          <mat-option *ngFor="let ct of cardTypes" [value]="ct">
            {{ ct }}
          </mat-option>
      </mat-select>
  </mat-form-field>

    <mat-form-field class="filter-input-date">
      <input matInput [(ngModel)]="filterStartDate" placeholder="start date" type="date">
    </mat-form-field>

    <mat-form-field class="filter-input-date">
      <input matInput [(ngModel)]="filterEndDate" placeholder="end date" type="date">
    </mat-form-field>

    <mat-form-field class="filter-input">
      <input matInput [(ngModel)]="filterPriceFrom" placeholder="price from" type="number">
    </mat-form-field>

    <mat-form-field class="filter-input">
      <input matInput [(ngModel)]="filterPriceTo" placeholder="price to" type="number">
    </mat-form-field>

    <mat-form-field class="filter-input">
        <mat-select placeholder="active" [(value)]="filterActive"> 
            <mat-option *ngFor="let ac of activeOptions" [value]="ac">
              {{ ac }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button class="mat-primary" id="btnFilter" (click)="onFilter()">Filter</button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="visitorType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Visitor Type </th>
      <td mat-cell *matCellDef="let element"> {{element.visitorType | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="cardType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Card Type </th>
      <td mat-cell *matCellDef="let element"> {{element.cardType | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="zone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone </th>
      <td mat-cell *matCellDef="let element"> {{element.zone | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Type </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleType | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate | date:"MM/dd/yy"}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date:"MM/dd/yy"}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
      <td mat-cell *matCellDef="let element"> {{element.active ? 'Yes' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price + ' din'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
  </table>

  <mat-paginator [pageSizeOptions]="pageOptions"
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [length]="totalElements"
                 (page)="pageEvent = pageChanged($event)"
                 showFirstLastButtons></mat-paginator>
</div>