<br>
<mat-card class="signUpCard">
  <mat-card-title class="center"> Sign up </mat-card-title>
  <br>
  <mat-card-content class="white-border">
    <form [formGroup]="signUpForm">
      <div class="center-div">
        <mat-form-field>
          <input id="firstName" matInput formControlName="firstName" name="firstName" placeholder="First name" required/>
          <mat-error>
            <span *ngIf="!signUpForm.get('firstName').valid && signUpForm.get('firstName').touched">You must enter your first name!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input id="lastName" matInput formControlName="lastName" name="lastName" placeholder="Last name" required/>
          <mat-error>
            <span *ngIf="!signUpForm.get('lastName').valid && signUpForm.get('lastName').touched">You must enter your last name!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input id="username" matInput formControlName="username" name="username" placeholder="Username" required/>
          <mat-error>
            <span *ngIf="!signUpForm.get('username').valid && signUpForm.get('username').touched">You must enter a username!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" id="password" matInput formControlName="password" name="password" placeholder="Password" required/>
          <mat-error>
            <span *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched">You must enter a password!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" id="confirmPassword" matInput formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm password"
            required/>
          <mat-error>
            <span *ngIf="(!signUpForm.get('confirmPassword').valid && signUpForm.get('confirmPassword').touched)">You must add a confirmation password!</span>
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <br>
        <button id="signup" type="submit" style="margin-left: 73% !important;" mat-raised-button color="accent" (click)="onFormSubmit(signUpForm.value)">Submit</button>
      </div>
    </form>
    <br>
  </mat-card-content>
</mat-card>